.content{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(245, 245, 245);
    padding: 20px;
    width: 100%;
}

#display{
    width: 100%;
}

#slider{
    width: 100%;
}

#length{
    display: inline-block;
    width: 100px;
}

.previous_passwords{
    margin-bottom: 20px;
}

body {
    font-family: 'IBM Plex Mono', monospace;
}

a:link {
    color: white;
}

.btn:focus, .btn:active:focus, .btn.active:focus{
    outline:none;
    box-shadow:none;
}

#strength {
    float: right;
    margin-right: 30px;
    margin-top: 5px;
}